apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: linkhub
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "5000"
        prometheus.io/path: "/metrics"
    spec:
      imagePullSecrets:
        - name: dockerhub-secret
      containers:
        - name: backend-container
          image: orlevov/finalproject-backend:2.4
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
          resources:
            limits:
              memory: "256Mi"
              cpu: "500m"
            requests:
              memory: "128Mi"
              cpu: "250m"
          env:
            - name: MONGO_URI
              valueFrom:
                secretKeyRef:
                  name: mongodb-atlas-secret
                  key: connectionString
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: mongodb-atlas-secret
                  key: jwt-secret
            - name: PORT
              value: "5000"

    