apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: linkhub
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus:9090/prometheus
        isDefault: true
        editable: false

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-dashboards-provider
  namespace: linkhub
data:
  dashboards.yaml: |
    apiVersion: 1
    providers:
      - name: 'default'
        orgId: 1
        folder: ''
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-ini
  namespace: linkhub
data:
  grafana.ini: |
    [server]
    root_url = %(protocol)s://%(domain)s/grafana
    serve_from_sub_path = true

    [security]
    admin_user = admin
    admin_password = admin

    [users]
    allow_sign_up = false

    [auth.anonymous]
    enabled = false
