apiVersion: v1
kind: Service
metadata:
  name: frontend-svc
  namespace: linkhub
spec:
  selector:
    app: frontend
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
      
  