apiVersion: v1
kind: Service
metadata:
  name: frontend-svc
  namespace: linkhub
spec:
  selector:
    app: frontend
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      
  